.employee-table {
  width: 70%; /* Set the desired width for the table */
  margin: 0 auto; /* Center the table horizontally */
  margin-top: 20px; /* Add some top margin for spacing */
}


.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin to separate rows */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}




.table-row:last-child {
  border-bottom: none;
}

.employee-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-photo {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-photo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.employee-info {
  flex: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.employee-info h3 {
  margin: 0;
  margin-bottom: 5px;
}
