.App {
  text-align: center;
  margin: 20px;
}

.EmployeeForm {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
}

.EmployeeCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.EmployeeTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.EmployeeTable th,
.EmployeeTable td {
  padding: 10px;
  text-align: left;
}

.EmployeeTable th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.EmployeeTable .even {
  background-color: #f9f9f9;
}

.EmployeeTable .odd {
  background-color: #ffffff;
}

.EmployeeTable tr:hover {
  background-color: #e0e0e0;
}

.EmployeePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
